<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>%d{HH:mm:ss SSS} [%thread] %-5level %logger{36} %L - %msg%n
            </Pattern>
        </layout>
    </appender>
    <appender name="FILEOUT"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/imapi.log</file>
        <append>true</append>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>logs/imapi.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{HH:mm:ss SSS} [%thread] %-5level %logger{36} %L - %msg%n
            </pattern>
        </encoder>
    </appender>
    <root level="DEBUG">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="FILEOUT"/>
    </root>
    <include resource="org/springframework/boot/logging/logback/base.xml"/>
    <logger name="org.springframework.web" level="DEBUG"/>
    <logger name="com.ququ.imserver.user" level="DEBUG"/>
    <logger name="com.ibatis" level="DEBUG" />
    <logger name="com.ibatis.common.jdbc.SimpleDataSource" level="DEBUG" />
    <logger name="com.ibatis.common.jdbc.ScriptRunner" level="DEBUG" />
    <logger name="com.ibatis.sqlmap.engine.impl.SqlMapClientDelegate" level="DEBUG" />
    <!-- sql loggers -->
    <logger name="java.sql.Connection" level="DEBUG"  additivity="true"/>
    <logger name="java.sql.Statement" level="DEBUG" additivity="true" />
    <logger name="java.sql.PreparedStatement" level="DEBUG"  additivity="true"/>
    <logger name="java.sql.ResultSet" level="DEBUG"  additivity="true"/>
</configuration>